body {
  margin: 0px;
  display: flex;
  background-color:#e0ebeb;
  font-family: Helvetica, Arial, Verdana;
}

.main-content {
  display: flex;
  flex-direction: column;


}

.form-details{
margin-top: 1rem;
margin-left: 1rem;
background-color: #24527a;
color: white;
display: flex;
padding: 10px;
justify-content: center;
align-items: center;
box-shadow: 10px 8px 8px 10px #888888;
}

input{
  width: 100%;
  padding:12px 20px;
  margin:8px 0;
  /* box-sizing: border-box; */
}

.main-content > .para {
  margin-top: 50px;
  margin-left: 1rem;
  font-weight: bold;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  /* box-sizing: border-box; */
  resize: none;
}

div.transbox {
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  width: 496px;
  position: absolute;
  top: 10rem;
  left: 0px;
  height: 80px;
}

div.transbox p {
  margin: 4%;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 30px;
}

.btn > button {
  margin-top: 30px;
  margin-left: 1rem;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: #24527a;
  color: white;
}
